body {
    background-color: antiquewhite;
}

body h1 {
    color: rgb(0, 0, 0);
}

body a {
    color: brown;
    margin: 0 50%;
}

body a:hover {
    color: gray;
}

body img {
    max-width: 100%;
    max-height: 100%;
}

body p {
    color: darkolivegreen;
    font-size: 1.6rem;
}